.recruitment-title {
  font-weight: 900;
  font-size: 1.7rem;
}

#applyBtn button {
  margin-top: 3rem;
  background-color: var(--color-grey-400);
  border: none;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white-0);
  text-decoration: none;
  text-align: center;
}

#applyBtn button:hover {
  background-color: var(--color-grey-600);
}

.listTitle {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  padding: 3rem;
}

.ulItem {
  text-align: center;
  text-decoration: none;
  list-style: none;
  padding: 0;
}
.liItem {
  padding: 10px;
}

.linkItem {
  color: var(--color-blue-100);
}
.linkItem:hover {
  color: var(--color-blue-600);
}

.section-padding {
  padding: 9rem 0;
  text-align: center;
}
/* 
.section-top {
  background-color: var(--color-blue-0);
} */

.section-middle {
  text-align: center;
}

/* 모집 일정 */
.recruitment-box {
  color: var(--color-grey-900);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 1rem 0 1rem;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;

  /* background-color: var(--color-white-0) */
}

.recruitment-box-item {
  background-color: var(--color-grey-100);
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  width: 10rem;
}
.recruitment-box-item h2 {
  height: 40%;
}

.big-arrow {
  font-size: 50px;
  padding-top: 4rem;
  color: var(--color-white-0);
}

@media (max-width: 500px) {
  .big-arrow {
    display: none;
    padding: 1rem 0;
  }

  .section-padding {
    padding: 7rem 0;
    text-align: center;
  }

  .section-middle {
    grid-template-columns: 1fr;
  }

  .recruitment-box {
    display: flex;
    justify-content: space-between;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0 30%;
    list-style: none;
    /* width: 100%; */
  }

  .recruitment-box-item {
    padding: 1rem 1.5rem;
    width: 10rem;
  }
}
